@charset "UTF-8";
:root {
    --payment-terms-background-color: #ffffff;
} /*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */

@font-face {
    font-family: 'Nunito';
    src: url('./../fonts//Nunito-VariableFont_wght.ttf');
}
html,
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin: 0;
    min-width: 1200px;
    overflow: hidden;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main {
    display: flex;
    height: 100vh;
}
.main > .left {
    width: 300px;
}
.main > .right {
    flex: 1;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}
.main > .left .nav {
    padding: 0;
    margin: 0;
}
.main > .left .nav li {
    list-style: none;
    margin: 10px;
    font-weight: bold;
    width: 100%;
}

.main > .left .nav li a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
}

.main > .left .nav li a:hover {
    color: #000;
    text-decoration: underline;
}

.main > .right .header {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.main > .right .content {
    width: 100%;
}
.main > .right .content .table {
    width: 100%;
}
.main > .right .content .table .v-m {
    vertical-align: middle;
}
.main > .right .content .table .handle {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.right .page-link {
    cursor: pointer;
    min-width: 40px;
    text-align: center;
}
.delete--btn {
    color: red;
}

.main > .right .content form {
    margin: 5px;
}

.main > .right .content form small {
    color: red;
}

.row-image img {
    width: 100%;
    object-fit: contain;
}
.row-image {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.row-image .button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 12;
}
.row-image:hover .button {
    display: flex;
}
.row-image .button div {
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    margin: 2px 10px;
}
.row-image .is-thumbnail {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(155, 155, 155);
}
.sort-images {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: white;
    overflow-y: auto;
}

.sort-images .sort-images__container {
    position: relative;
    margin-left: 400px;
}
.confirm-sort {
    /* position: fixed; */
    bottom: 10px;
    right: 300px;
    z-index: 1000;
}
.text-cat span:first-child {
    color: cadetblue;
}

.text-cat span:nth-child(2) {
    color: rgb(192, 209, 12);
}
.text-cat span:nth-child(3) {
    color: #1aacac;
}

.text-cat span:nth-child(4) {
    color: #cd5c08;
}

.text-cat span:nth-child(5) {
    color: #362fd9;
}
